* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%;
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Gray-bg: #f0f1f6;
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
  --max-element-width: min(90%, 80rem);
  --element-border-radius: 0.4em;
  --transition: 0.5s ease-in-out;
  --fast-transition: 0.2s ease-in-out;
}
body {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: var(--Very-Dark-Blue);
  overflow-x: hidden;
}
h1,
h2,
h3 {
  color: var(--Very-Dark-Violet);
  font-weight: 700;
}
h1 {
  font-size: 4.2rem;
  letter-spacing: -0.2rem;
  line-height: 1;
}
p {
  width: min(80%, 80rem);
  color: var(--Grayish-Violet);
  text-align: center;
}
ul {
  list-style: none;
}
button {
  background: var(--Cyan);
  border: none;
  cursor: pointer;
  color: white;
  padding: 0.8em 4rem;
  border-radius: 1.5em;
  font-size: 1.8rem;
  font-weight: 700;
  white-space: nowrap;
}
button:hover {
  background: #9be3e2;
}
li {
  cursor: pointer;
}
li:hover:not(.footer-links-title) {
  color: var(--Dark-Violet);
}
.hamburger {
  background: transparent;
}
.hamburger svg path {
  fill: var(--Grayish-Violet);
}
@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }

  25%,
  75% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(1deg);
  }
}
/* 
====================
====================
    navigation 
====================
====================
*/
nav {
  margin-bottom: 16.8rem;
  padding: 2rem 0rem 0rem;
}
.nav-center {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links,
.sign-ups-container {
  display: none;
}
.hamburger {
  padding: 0;
}
@media (min-width: 62.5em) {
  .hamburger {
    display: none;
  }
  .nav-links,
  .sign-ups-container {
    display: flex;
  }
  .nav-center {
    width: 100%;
    margin: 0;
    margin-bottom: 7.9rem;
  }
  .nav-center div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-center div:first-of-type {
    gap: 4.7rem;
  }
  .nav-center div:last-of-type {
    display: grid;
    grid-template-columns: auto auto;
  }
  .nav-links {
    gap: 3.2rem;
    color: var(--Grayish-Violet);
  }
  nav button {
    padding: 1rem 2.4rem;
  }
  nav {
    padding: 4.8rem 16.5rem 0rem;
  }
  nav p:hover {
    color: var(--Dark-Violet);
    cursor: pointer;
  }
}
/* 
====================
====================
    main 
====================
====================
*/
main {
  background: var(--Gray-bg);
}
.main-center {
  width: min(90%, 80rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;
  position: relative;
}
@media (min-width: 62.5em) {
  .main-center {
    width: min(90%, 111rem);
    padding-bottom: 18.5rem;
  }
}
/* 
====================
====================
    hero section 
====================
====================
*/
.hero-section {
  text-align: center;
}
.hero-section img {
  width: min(130%, 80rem);
  transform: translate(5%, 0);
  margin-bottom: 4rem;
}
.hero-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 62.5em) {
  .hero-section {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    text-align: left;
  }
  .hero-section img {
    width: min(3000%, 73.3rem);
    transform: translate(0, 0);
    margin-bottom: 4rem;
    grid-column: 2;
  }
  .hero-section > div {
    margin: auto 0;
    grid-column: 1;
    grid-row: 1;
    align-items: baseline;
  }
  .hero-section h1 {
    font-size: 8rem;
  }
  .hero-section p {
    text-align: left;
  }
}
/* 
====================
====================
    link shortener section 
====================
====================
*/
.link-shortner-section {
  width: 100%;
  background: var(--Dark-Violet);
  background-image: url("./images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  border-radius: var(--element-border-radius);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  transform: translate(0, -50%);
}
.link-field-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.link-field-container div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.link-shortner-section input {
  width: 100%;
  padding: 1.2em 1em;
  border-radius: var(--element-border-radius);
  border: none;
  transition: var(--transition);
  margin-bottom: 0.5rem;
}
.link-shortner-section input::placeholder {
  color: var(--Gray);
  font-weight: 500;
  font-size: 1.8rem;
  transition: var(--transition);
}
.input-error {
  outline: 0.3rem solid var(--Red);
}
.link-shortner-section .input-error::placeholder {
  color: rgba(255, 0, 0, 0.45);
}
.link-shortner-section input:focus {
  outline: 0.3rem solid var(--Cyan);
}
.error-message {
  color: var(--Red);
  font-size: 1.2rem;
  opacity: 0;
  transition: var(--transition);
  text-align: left;
}
.show-error-message {
  opacity: 1;
}
.link-shortner-section button {
  width: min(100%, 40rem);
  border-radius: 0.3em;
}
@media (min-width: 62.5em) {
  .link-shortner-section {
    background-image: url("./images/bg-shorten-desktop.svg");
    background-position: bottom 0 right 0;
    background-size: cover;
    padding: 5.2rem 6.5rem 2.3rem;
  }
  .link-field-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto 18.8rem;
    align-items: baseline;
    gap: 2rem;
  }
  .link-field-container button {
    width: 100%;
    height: 100%;
    max-height: 6.4rem;
    padding: 0.8rem 4rem;
    font-size: 1.8rem;
  }
  .link-shortner-section input {
    height: 6.4rem;
    font-size: 1.8rem;
    color: var(--Grayish-Violet);
  }
}
/* 
====================
====================
    results section 
====================
====================
*/
.results-container {
  width: min(100%, 100rem);
  border-radius: var(--element-border-radius);
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 4rem;
  margin-top: 12.6rem;
  margin-bottom: 10rem;
}
.result {
  width: min(100%, 80rem);
  /* box-shadow: 1rem 1rem 10rem rgba(0, 0, 0, 0.15); */
  border-radius: var(--element-border-radius);
  background: white;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  place-items: center;
  padding-bottom: 2rem;
}
.result-shake {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.original-link,
.short-link {
  width: 100%;
  padding: 1.5rem;
  text-align: left;
}
.original-link {
  width: 100%;
  color: var(--Very-Dark-Violet);
  border-bottom: 0.1rem solid var(--Gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.short-link {
  color: var(--Cyan);
}
.copy-btn {
  width: min(95%, 50rem);
  transition: var(--fast-transition);
  border-radius: var(--element-border-radius);
}
.copy-btn:focus {
  background: var(--Dark-Violet);
}
.copy-btn::after {
  content: "Copy";
  font-size: 1.8rem;
}
.copy-btn:focus::after {
  content: "Copied !";
}
@media (min-width: 62.5em) {
  .results-container {
    width: 100%;
  }
  .result {
    width: 100%;
    grid-template-columns: 1fr auto auto;
    padding: 1.6rem 2.4rem;
  }
  .original-link {
    padding: 0;
    border: none;
  }
}
/* 
====================
====================
    stats section 
====================
====================
*/
.statistics-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.statistics-section h2 {
  font-weight: 700;
  font-size: 3.85rem;
  margin-bottom: 1.5rem;
}
.statistics-section p {
  margin-bottom: 6rem;
  width: min(80%, 54rem);
}
.statistics-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.statistics-section > div {
  isolation: isolate;
  gap: 9.2rem;
}
.stat-card {
  width: min(100%, 40rem);
  box-shadow: 1rem 1rem 10rem rgba(0, 0, 0, 0.055);
  border-radius: var(--element-border-radius);
  padding: 2rem;
  background: white;
  position: relative;
}
.stat-img {
  width: 8.8rem;
  height: 8.8rem;
  background: var(--Dark-Violet);
  padding: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  transform: translate(0, -50%);
}
.stat-card::before {
  content: "";
  position: absolute;
  height: 40rem;
  border-right: 1rem solid var(--Cyan);
  z-index: -5;
}
.stat-card:last-of-type::before {
  display: none;
}
.stat-card h3 {
  margin-top: 7.5rem;
}
@media (min-width: 62.5em) {
  .statistics-section > div {
    align-items: baseline;
    flex-direction: row;
    gap: 3rem;
  }
  .stat-card {
    padding: 1rem 3.2rem 0rem;
    align-items: baseline;
    text-align: left;
  }
  .stat-card::before {
    width: 40rem;
    height: 0.8rem;
    top: 50%;
    left: 100%;
    transform: translate(-50%, 0);
    border-right: none;
    border-bottom: 1rem solid var(--Cyan);
  }
  .stat-card:nth-of-type(2) {
    position: relative;
    top: 4.4rem;
  }
  .stat-card:nth-of-type(3) {
    position: relative;
    top: 8.8rem;
  }
  .stat-card h3 {
    margin-top: 7.9rem;
    margin-bottom: 2rem;
  }
  .stat-card p {
    text-align: left;
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 4.2rem;
  }
  .statistics-section > p {
    margin-bottom: 10.1rem;
  }
}
/* 
====================
====================
    footer section 
====================
====================
*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background: var(--Very-Dark-Violet);
  color: white;
  padding-bottom: 5rem;
}
/* 
====================
====================
    upper footer 
====================
====================
*/
.footer-upper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--Dark-Violet);
  padding: 8rem 0rem;
  background-image: url("./images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-position: top 0 right 0;
}
.footer-upper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.footer-upper h2 {
  color: white;
}
@media (min-width: 62.5em) {
  .footer-upper {
    padding: 5rem 0rem;
    background-image: url("./images/bg-boost-desktop.svg");
    background-size: cover;
  }
  .footer-upper div {
    gap: 2.7rem;
  }
  .footer-upper h2 {
    font-size: 4rem;
  }
}
/* 
====================
====================
    lower footer 
====================
====================
*/
.footer-down div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.footer-down svg path {
  fill: white;
}
.footer-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  color: var(--Gray);
  font-weight: 500;
}
.footer-links-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.footer-links-title {
  color: white;
  font-weight: 700;
  margin-bottom: 2rem;
}
.footer-socials {
  display: flex;
  gap: 2rem;
}
@media (min-width: 62.5em) {
  footer {
    gap: 7.1rem;
  }
  .footer-down {
    width: min(90%, 111rem);
  }
  .footer-down > div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto auto;
    flex-direction: row;
    align-items: start;
    gap: 10.1rem;
  }
  .footer-down > div div {
    flex-direction: row;
    align-items: baseline;
    gap: 10.6rem;
    text-align: left;
  }
  .footer-links-container ul {
    align-items: baseline;
  }
  footer li:hover:not(.footer-links-title) {
    color: var(--Cyan);
  }
  footer li svg path {
    fill: var(--Cyan);
  }
}
/* 
====================
====================
    sidemenu 
====================
====================
*/
aside {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  transition-delay: 0.6s;
  transition-property: z-index;
  z-index: -1;
  overflow: hidden;
}
.sidemenu-center {
  width: min(100%, 30rem);
  position: fixed;
  top: 10rem;
  left: 50%;
  background: var(--Dark-Violet);
  color: white;
  transform: translate(-50%, -200%);
  padding: 2rem;
  border-radius: var(--element-border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  transition: var(--transition);
  opacity: 0;
}
aside ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
aside ul:nth-of-type(1) {
  border-bottom: 0.1rem solid var(--Grayish-Violet);
  padding-bottom: 2rem;
}
.show-sidemenu {
  z-index: 1;
  transition-delay: 0s;
  transition-property: z-index;
}
.show-sidemenu .sidemenu-center {
  transform: translate(-50%, 0);
  opacity: 1;
}
